body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.main{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}

.header-left{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 85px;
}

.logo{
    margin-right: 40px;
}
.vertical{
    width: 20px;
    height: 20px;
    border-left: 1px solid gray;
    opacity: 0.3;
    margin-right: -20px;
}

.bus-tickets{
    background-color: #d84e55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.bus-tickets img{
    width: 30px;
}

.bus-tickets span{
    color: white;
    /* font-weight: bold; */
}

.train-tickets{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.train-tickets img{
    width: 40px;
}

.header-right{
    display: flex;
    gap: 15px;
}

.help{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.user{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.user img{
    width: 30px;
}

.user span img{
    width:10px;
    cursor: pointer;
}

.arrow{
    width: 10px;
}

.help img{
    height: 30px;
}

.banner{
    margin-top: 15px;
}

.bgimage{
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.bgimage img{
    width: 100vw;
    height: 500px;
}

.bgimage span{
    position: absolute;
    top: 25px;
    right: 30%;
    left: 30%;
    color: white;
    font-size: 30px;
    font-weight: bold;  
}

.search-buses{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 30%;
    /* left: 20%; */
    width: 1000px;
    height: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: white;
    border-radius: 25px;


}
.search-buses img{
    width: 20px;
    height: 25px;
}


.from{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;
}   

.from-one{
    /* width: 1px solid black; */
    margin-left: 10px;
    border-right: 1px solid rgb(208, 207, 207);

}

.from-two{
    border-right: 1px solid rgb(208, 207, 207);
    margin-left: 10px;
}

.from-three{
    margin-left: 10px;
}

.from input{
    border: none;
    height: 40px;
    font-size: 17px;
    /* border: 1px solid black; */
    margin-bottom: 35px;
    cursor: pointer;

}

.from div p{
    margin-bottom: -2px;    
    color: gray;
}

.from-three img{
    width: 30px;
    height: 30px;
}

.from-three p{
    font-size: 18px;
    color: gray;
    cursor: pointer;
}

.vertical1{
    position:absolute;
    width: 100px;
    height: 20px;
    border-left: 1px solid rgb(187, 44, 44);
    opacity: 0.3;
    margin-right: -20px;
}

.btn{
 margin-left: 20px;
 background-color: rgb(216, 78, 85);
 height: 100px;
display: flex;
align-items: center;
justify-content:center ;
width: 200px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
}

.btn p{
    color: white;
    font-size: 24px;   
    cursor: pointer; 
}

input:focus{
    outline: none;
}

.carousel{
    width: 55vw;
    margin: 10px auto;
    background-color:white;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 100px
}

.carousel-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.carousel-one span{
    margin-left: 40px;
    font-size: 25px;
    font-weight:500;
}
.carousel-one button{
    margin-right: 40px;
    background-color: white;
    border: 0.5px solid black;
    color: rgb(81, 81, 238);
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 18px;
    font-weight:700;
    border-color: gray;
}

/*-------------------Card Design----------------------*/


/* Card  */
.cards
{
    display: flex;
    margin-left: 10px;
    gap: 10px;
    
}

.card{
    display: flex;
    gap: 13px;  
     padding: 40px 40px; 
     margin-left: 10px;
    margin-top: 10px;
     width: 400px;
    border-radius: 15px;
   background: linear-gradient(90deg, rgba(130,15,15,1) 27%, rgba(232,13,13,1) 100%, rgba(0,212,255,1) 100%);
}
.right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right span{
    color: white;
}

.right span:nth-child(1)
{
    font-size: 18px;
}
 .right span:nth-child(2){
    font-size: 18px;
    font-weight: bold ;
 }

 .right span:nth-child(3){
    font-size: 14px;
 }

 .right button{
    color: white;
    background: gray;
    padding: 2px 6px;
    width: 100px;
    font-weight: bold;
    border: 1px dashed white;
 }

 /*---------------- Carousel CSS----------------- */
